:root {
	--main-backgroundNormal: rgb(49,54,59);
	--main-backgroundAlternate: rgb(35,38,41);
	--main-decorationFocus: rgb(61,174,233);
	--main-decorationHover: rgb(147,206,233);
	--main-foregroundInactive: rgb(189,195,199);
	--main-foregroundLink: rgb(41,128,185);
	--main-foregroundNegative: rgb(218,68,83);
	--main-foregroundNeutral: rgb(246,116,0);
	--main-foregroundNormal: rgb(239,240,241);
	--main-foregroundPositive: rgb(39,174,96);
	--main-foregroundVisited: rgb(127,140,141);
}