:root {
	/* DARK */
	--main-dark-backgroundNormal: rgb(49,54,59);
	--main-dark-backgroundAlternate: rgb(35,38,41);
	--main-dark-decorationFocus: rgb(61,174,233);
	--main-dark-decorationHover: rgb(147,206,233);
	--main-dark-foregroundInactive: rgb(189,195,199);
	--main-dark-foregroundLink: rgb(41,128,185);
	--main-dark-foregroundNegative: rgb(218,68,83);
	--main-dark-foregroundNeutral: rgb(246,116,0);
	--main-dark-foregroundNormal: rgb(239,240,241);
	--main-dark-foregroundPositive: rgb(39,174,96);
	--main-dark-foregroundVisited: rgb(127,140,141);
	/* LIGHT */
	--main-light-backgroundNormal: rgb(239,240,241);
	--main-light-backgroundAlternate: rgb(189,195,199);
	--main-light-decorationFocus: rgb(61,174,233);
	--main-light-decorationHover: rgb(147,206,233);
	--main-light-foregroundInactive: rgb(127,140,141);
	--main-light-foregroundLink: rgb(41,128,185);
	--main-light-foregroundNegative: rgb(218,68,83);
	--main-light-foregroundNeutral: rgb(246,116,0);
	--main-light-foregroundNormal: rgb(35,38,41);
	--main-light-foregroundPositive: rgb(39,174,96);
	--main-light-foregroundVisited: rgb(127,140,141);
}