footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	height: 2rem;
	background-color: var(--main-backgroundNormal);
}

.footer_info {
	margin: 0 0 0 1rem;
}

.footer_switchThem {
	margin: 0 1rem 0 0;
	cursor: pointer;
}