header {
	display: flex;
	background-color: var(--main-backgroundNormal);
	height: 4rem;
	justify-content: space-between;
	align-items: center;
}

.header_h1 {
	flex-shrink: 0;
	margin: 0 0 0 1rem;
	cursor: pointer;
}

.header_nav {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	margin: 0 0 0 0;
}

.header_li {
	margin: 0 1rem 0 1rem;
	color: var(--main-foregroundNormal);
	padding: .5rem;
	cursor: pointer;
}

.header_li_active {
	color: var(--main-foregroundPositive);
}

.header_li:active {
	color: var(--main-foregroundPositive);
}

.header_nikename {
	color: var(--main-decorationFocus);
}

.header_login__up:hover {
	transition: .3s;
	color: var(--main-foregroundLink);
	border: 1px solid var(--main-foregroundLink);
}

.header_mid { 
	display: flex;
	flex: 1 0 auto;
	justify-content: center;
}
/* Доделать середину хедара */